{% extends "base.html" %}
{% load staticfiles %}
{% load url from future %}
{% load tuxhe_extras %}
{% block menu_sidebar %}
{% endblock menu_sidebar %}
{% block content %}
{% csrf_token %}
    {% for post in posts %}
        <article class="{% if forloop.last or forloop.revcounter == 2 %}
                article-container-s
            {% else %}
                article-container
            {% endif %}">
            <div class="thumbnail">
                    <img src="{{ post.thumbnail.url }}" alt="">
            <div class="social-share">
                <a href="#" class="facebook circle image-wrap"></a>
                <a href="#" class="twitter circle image-wrap"></a>
            </div>
            </div>
            <div class="article_content">
                <div class="chat-bubble-arrow-border"></div>
                <div class="chat-bubble-arrow"></div>
                <header>
                    <h2>
                        {{ post.title }} 
                    </h2>
                </header>
                
                <p class="content">
                    <a href="#" class="vote" data-id="{{ post.id }}">Votar</a>
                    {{ post.title }}
                    {{post.short_content|truncatechars:"200"}}
                </p>
                <div class="info">
                    <div class="date">
                        {{ post.create_at|age }}
                    </div>
                    <div class="user">
                        {{ post.author }}
                    </div>
                    <div class="comments_count"></div>
                    <div class="tags"></div>
                </div>
            </div>
        </article>
    {% endfor %}
{% endblock content %}